{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9ac574bb23.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'style-edit.css'%}" />
    <title>Edit Contact</title>
  </head>
  <body>
    <div class="container">
      <header class="hero">
        <a href="{% url 'profile' contact.id %}">
          <i class="fa-solid fa-circle-left back-btn"></i>
        </a>

        <div class="hero-info">
          <h1 class="name">{{contact.full_name}}</h1>
          <p class="relationship">{{contact.relationship}}</p>
        </div>
      </header>
      <form action="" method="POST">
        {% csrf_token %}
        <section class="contact-info">
          <div class="info-line">
            <i class="fa-solid fa-phone icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="fullname"
              placeholder="Full Name"
              value="{{contact.full_name}}"
            />
          </div>
          <div class="info-line">
            <i class="fa-solid fa-comment-sms text icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="relationship"
              placeholder="Relationship"
              value="{{contact.relationship}}"
            />
          </div>
          <div class="info-line">
            <i class="fa-solid fa-phone icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="phone"
              placeholder="Phone Number"
              value="{{contact.phone_number}}"
            />
          </div>
          <div class="info-line">
            <i class="fa-solid fa-envelope icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="email"
              placeholder="Email"
              value="{{contact.email}}"
            />
          </div>
          <div class="info-line">
            <i id="location" class="fa-solid fa-location-dot icon-gradient"></i>
            <input
              type="text"
              class="type"
              name="address"
              placeholder="Address"
              value="{{contact.address}}"
            />
          </div>
        </section>
        <section class="button-container">
          <div class="update-contact">
            <i class="fa-solid fa-check icon-gradient"></i>
            <button type="submit" class="button">Save Contact</button>
          </div>
        </section>
        <section class="button-container">
          <a href="{% url 'delete' contact.id %}">
            <div class="update-contact">
              <i class="fa-solid fa-trash icon-gradient"></i>
              <button class="button">Delete Contact</button>
            </div>
          </a>
        </section>
      </form>
    </div>
  </body>
</html>
